// Moonfly palette from https://github.com/bluz71/vim-moonfly-colors
layout {
    background-color "#080808"

    focus-ring {
        active-color   "#80a0ff"
        inactive-color "#323437"
        urgent-color   "#ff5d5d"
    }

    border {
        active-color   "#80a0ff"
        inactive-color "#323437"
        urgent-color   "#ff5d5d"
    }

    shadow {
        color "#00000070"
    }

    tab-indicator {
        active-color   "#74b2ff"
        inactive-color "#323437"
        urgent-color   "#ff5d5d"
    }

    insert-hint {
        color "#80a0ff80"
    }
}

recent-windows {
    highlight {
        active-color "#80a0ff"
        urgent-color "#ff5d5d"
    }
}
