layout {

    focus-ring {
        active-color   "#d21f50"
        inactive-color "#0d0a0c"
        urgent-color   "#e0345c"
    }

    border {
        active-color   "#d21f50"
        inactive-color "#0d0a0c"
        urgent-color   "#e0345c"
    }


    tab-indicator {
        active-color   "#d21f50"
        inactive-color "#440819"
        urgent-color   "#e0345c"
    }

    insert-hint {
        color "#d21f5080"
    }
}

recent-windows {
    highlight {
        active-color "#d21f50"
        urgent-color "#e0345c"
    }
}
