layout {

    focus-ring {
        active-color   "#ffb4a3"
        inactive-color "#1c110e"
        urgent-color   "#ffb4ab"
    }

    border {
        active-color   "#ffb4a3"
        inactive-color "#1c110e"
        urgent-color   "#ffb4ab"
    }

    shadow {
        color "#00000070"
    }

    tab-indicator {
        active-color   "#ffb4a3"
        inactive-color "#f02c00"
        urgent-color   "#ffb4ab"
    }

    insert-hint {
        color "#ffb4a380"
    }
}

recent-windows {
    highlight {
        active-color "#ffb4a3"
        urgent-color "#ffb4ab"
    }
}
